:root {

    /* Font Sizes */
    --acd-font-size--small: var(--wp--preset--font-size--small, 1rem);
    --acd-font-size--medium: var(--wp--preset--font-size--medium, 1.12rem);
    --acd-font-size--large: var(--wp--preset--font-size--large, 1.75rem);
}